<nav class="navbar navbar-expand">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
    <a class="nav-item nav-link btn btn-link" [ngClass]="{disabled:!user}" (click)="logout()">Выйти</a>
  </div>
</nav>
