<div class="card">
  <h4 class="card-header">Авторизация</h4>
  <div class="card-body">
    <form [formGroup]="authorizationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }"/>
        <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
          <div *ngIf="formControls.email.errors.required">Поле обязательно к заполнению</div>
          <div *ngIf="formControls.email.errors.email">Поле обязательно к заполнению</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input id="password" type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"/>
        <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
          <div *ngIf="formControls.password.errors.required">Поле обязательно к заполнению</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Войти
        </button>
        <a routerLink="../registration" class="btn btn-link">Регистрация</a>
      </div>
    </form>
  </div>
</div>
