<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <app-notification></app-notification>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
