<div *ngFor="let notification of notifications" class="{{cssClass(notification)}}">
  <button type="button" class="close" (click)="removeAlert(notification)">
    <span aria-hidden="true">×</span>
  </button>
  <span [innerHTML]="notification.message"></span>
</div>
