<h2>Регистрация</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
    <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
      <div *ngIf="formControls.email.errors.required">Необходимо ввести адрес электронной почты</div>
      <div *ngIf="formControls.email.errors.email">Необходимо ввести корректный адрес электронной почты</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Имя пользователя</label>
    <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" />
    <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
      <div *ngIf="formControls.username.errors.required">Необходимо ввести имя пользователя</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
    <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
      <div *ngIf="formControls.password.errors.required">Необходимо ввести пароль</div>
      <div *ngIf="formControls.password.errors.pattern">Пароль должен быть минимум 8 знаков длиной</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Зарегистрироваться
    </button>
    <a routerLink="/" class="btn btn-link">Отмена</a>
  </div>
</form>
